---
import BaseLayout from "@layouts/BaseLayout.astro";
interface Identity {
  firstName: string;
  country: string;
  occupation: string;
  hobbies: string[];
}

const pageTitle: string = "About Me";

const identity: Identity = {
  firstName: "Herivelton",
  country: "Brazil",
  occupation: "Fullstack Developer",
  hobbies: ["games", "movies", "music", "programming", "reading"],
};

const skills: string[] = [
  "HTML",
  "CSS",
  "JavaScript",
  "TypeScript",
  "Angular",
  "Vue",
  "Astro",
  "C#",
  "ASP .NET",
  "SQL",
];
const happy = true;
const finished = true;
const goal = 3;

function randomIntFromInterval(min: number, max: number): number {
  // min and max included
  return Math.floor(Math.random() * (max - min + 1) + min);
}

let randomHobby1: string = identity.hobbies[randomIntFromInterval(0, 4)];
let randomHobby2: string;
do {
  randomHobby2 = identity.hobbies[randomIntFromInterval(0, 4)];
} while (randomHobby2 === randomHobby1);
---
<BaseLayout pageTitle={pageTitle}>
  
  <h2 class="text-2xl mb-3">... and my new Astro site!</h2>

    <p>
      I am working through Astro's introductory tutorial. This is the second
      page on my website, and it's the first one I built myself!
    </p>

    <p>
      This site will update as I complete more of the tutorial, so keep checking
      back and see how my journey is going!
    </p>

    <p class="mt-6 mb-3">Here are a few facts about me:</p>
    <ul class="list-disc mx-4">
      <li>My name is {identity.firstName}.</li>
      <li>
        I live in {identity.country} and I work as a {identity.occupation}.
      </li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Two of my hobbies are:  <b>{randomHobby1}</b> and <b>{randomHobby2}</b>
          </li>
        )
      }
    </ul>
    <p class="mt-3 font-semibold">My skills are:</p>
    <ul class="my-3 flex flex-wrap items-center content-center w-full">
      {skills.map((skill) => <li class="px-4 py-1 mx-2 my-2 w-1/6 
      rounded bg-violet-500 text-lg text-white text-center">{skill}</li>)}
    </ul>
    {happy && <p>I am happy to be learning Astro!</p>}
    {finished && <p>I finished this tutorial!</p>}
    {
      goal === 3 ? (
        <p>My goal is to finish in 3 days. {finished && '(Done!)'}</p>
      ) : (
        <p>My goal is not 3 days.</p>
      )
    }
</BaseLayout>
