---
import BaseLayout from "@layouts/BaseLayout.astro";
interface Identity {
  firstName: string;
  country: string;
  occupation: string;
  hobbies: string[];
}

const pageTitle: string = "About Me";

const identity: Identity = {
  firstName: "Herivelton",
  country: "Brazil",
  occupation: "Fullstack Developer",
  hobbies: ["games", "movies", "music", "programming", "reading"],
};

const skills: string[] = [
  "HTML",
  "CSS",
  "JavaScript",
  "Typescript",
  "Angular",
  "Vue",
  "Astro",
  "C#",
  "ASP .NET",
];
const happy = true;
const finished = true;
const goal = 3;

// CSS VARIABLES
const skillColor = "navy";
const skillFontWeight = "bold";
const skillTextCase = "uppercase";

function randomIntFromInterval(min: number, max: number): number {
  // min and max included
  return Math.floor(Math.random() * (max - min + 1) + min);
}

let randomHobby1: string = identity.hobbies[randomIntFromInterval(0, 4)];
let randomHobby2: string;
do {
  randomHobby2 = identity.hobbies[randomIntFromInterval(0, 4)];
} while (randomHobby2 === randomHobby1);
---
<BaseLayout pageTitle={pageTitle}>
  <style slot="styles" define:vars={{ skillColor, skillFontWeight, skillTextCase }}>
    .skill {
      color: var(--skillColor);
      font-weight: var(--skillFontWeight);
      text-transform: var(--skillTextCase);
    }
  </style>
  
  <h2>... and my new Astro site!</h2>

    <p>
      I am working through Astro's introductory tutorial. This is the second
      page on my website, and it's the first one I built myself!
    </p>

    <p>
      This site will update as I complete more of the tutorial, so keep checking
      back and see how my journey is going!
    </p>

    <p>Here are a few facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}.</li>
      <li>
        I live in {identity.country} and I work as a {identity.occupation}.
      </li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Two of my hobbies are: {randomHobby1} and {randomHobby2}
          </li>
        )
      }
    </ul>
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    {happy && <p>I am happy to be learning Astro!</p>}
    {finished && <p>I finished this tutorial!</p>}
    {
      goal === 3 ? (
        <p>My goal is to finish in 3 days.</p>
      ) : (
        <p>My goal is not 3 days.</p>
      )
    }
</BaseLayout>
