---
import '@styles/tag.css';
import BaseLayout from '@layouts/BaseLayout.astro';

interface Props {
  blogPostData: {
    title: string;
    pubDate: Date;
    description: string;
    author: string;
    image: {
      url: string;
      alt: string;
    };
    tags: string[];
  }
}

const { blogPostData } = Astro.props;

const date = new Date(blogPostData.pubDate);
date.setDate(date.getDate() + 1);

const formattedDate = new Intl.DateTimeFormat('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric'
}).format(date);
---
<BaseLayout pageTitle={blogPostData.title} hasFooter={false}>
  <p>Published on: {formattedDate}</p>
  <p><em>{blogPostData.description}</em></p>
  <p>Written by {blogPostData.author}</p>
  <img src={blogPostData.image.url} width="250" alt={blogPostData.image.alt} />

  <div class="tags">
    {blogPostData.tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>

  <hr>
  <slot />
</BaseLayout>